---
import Layout from '../../layouts/Layout.astro';
import CardCategory from '../../components/CardCategory.astro';
import { categories } from '../../data/categories';
import { getCollection } from "astro:content";

const pageTitle = "Learn Hub";

const allArticles = await getCollection('learn');
const articleCounts = categories.map(category => ({
    ...category,
    articleCount: allArticles.filter(article =>
        article.data.category === category.slug
    ).length
}));
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="LearnHubGif" src="/learning.webp"/>
    </div>
    <h2>Learn Hub</h2>
    <p>Områden jag lär mig om och försöker förklara på ett lättbegripligt sätt.</p>

    <ul role="list" class="link-card-grid">
        {articleCounts.map((category) => (
                <CardCategory
                        title={category.title}
                        iconUrl={category.iconUrl}
                        url={`/learn-hub/${category.slug}/`}
                        articleCount={category.articleCount}
                />
        ))}
    </ul>
</Layout>